main {
  font-family: monospace;
  text-align: center;
}

pre {
  display: inline-block;
  margin: 2em auto;
  text-align: left;
}

input, button {
  font-family: inherit;
  background-color: white;
  border: 2px solid grey;
}

input {
  margin: 0.2em;
  padding: 0.5em;
  min-width: 20em;
}

input:disabled {
  color: lightgray;
  border-color: lightgray;
}

input:disabled::placeholder {
  color: lightgray;
}

button {
  margin: 0.7em;
  padding: 0.6em 1em;
  min-width: 8em;
}

button:hover {
  background-color: lightgray;
  cursor: pointer;
}
